# Database
DATABASE_URL="postgresql://neondb_owner:npg_OAHYrFbS3Cc0@ep-soft-river-a2n845o8-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="hformiof809w4ehrfn9run9fbuowm03wubfuinr9848wbfnllmfw"

# Для S3 Timeweb для картинки пробного теста
S3_URL="https://s3.twcstorage.ru"
PICTURES_TRIAL_TEST_BUCKET="b1d6dd69-ort-trial-test"
PICTURES_TRIAL_TEST_BUCKET_S3_ACCESS_KEY="POLOUMID1WL6Q0Y285T0"
PICTURES_TRIAL_TEST_BUCKET_S3_SECRET_ACCESS_KEY="WhcKUxU5ezOZ8UpibbDpUBfWpMNWCekAroMzrISw"
PICTURES_TRIAL_TEST_BUCKET_SWIFT_URL="https://swift.twcstorage.ru"
PICTURES_TRIAL_TEST_BUCKET_SWIFT_ACCESS_KEY="yf47328:swift"
PICTURES_TRIAL_TEST_BUCKET_SWIFT_SECRET_ACCESS_KEY="31PGIdXBHRiIWaVgn762fV4JzsygEzOK3J3rnLAR"

# Next.js настройки
NEXTAUTH_SECRET="hformiof809w4ehrfn9run9fbuowm03wubfuinr9848wbfnllmfw"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="production"
PORT=3000

# Telegram Bot (добавьте ваши токены)
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_ADMIN_CHAT_ID="your-admin-chat-id"

# Internal API URL (для Docker контейнеров)
INTERNAL_API_URL="http://app:3000"
